.wrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem 5rem 2rem;
}

.chatHistory {
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  background: white;
  flex-basis: 20% ;
  margin-right: 2rem;
  min-height:20vh;
  max-height: 60vh;
  overflow-y: scroll;
  padding-bottom: 32px;

}

.supportChat{
  padding: 0 1rem 0 1rem;
  display: flex;
  gap: 50px;
  flex-direction: column;
  border-radius: 40px;
  background: white;
  flex-basis: 80%;
  max-height: 80vh;
  overflow-y: auto;
 

}

.groupWrapper{
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
.supportChat ul {
 height: fit-content
}

.messageClient,.messageAdmin{
  display: block;
  /* background: #bf91d1; */
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  margin-bottom: 5px;
  
}

.messageClient{
  background-color: #bf91d1;
  margin-right: auto;
}
.messageAdmin{
  background-color: #80C56B;
  margin-left: auto;
}

   

.messageInput input{
  border: none;
  background: rgb(198, 195, 195);
  padding: 10px 0 10px 40px;
  margin-bottom: 2rem;
  border-radius: 10px;
  font-size: 16px;
  width: 80%;
}
.messageInput input:focus{
  border: none;
  outline: none;
}


.userEmail{
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  background: rgb(198, 195, 195);
  width: 80%;
  border-radius: 11px;
  padding: 0.5rem;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.userEmail:hover{
  background: rgba(198, 195, 195,0.9);
}


.sendBtn{
  height: 2.2rem;
  margin-left: 2px;
  padding: 2px;
  min-width: fit-content;
  width: 3rem;
}



.notification{
  position: absolute;
  top:40%;
  right: 10px;
  display: block;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  z-index: 100;
}